

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu.ttf") format('truetype');
}

@font-face {
    font-family: Ubuntu Light;
    src: url("fonts/Ubuntu Light.ttf") format('truetype');
}

@font-face {
    font-family: Ubuntu Mono;
    src: url("fonts/Ubuntu Mono.ttf") format('truetype');
}

@font-face {
    font-family: Ubuntu Thin;
    src: url("fonts/Ubuntu Thin.ttf") format('truetype');
}


body {
  font-family: Ubuntu, Sans-serif;
}
blockquote {
  font-family: Ubuntu Thin, serif;
}
code {
  font-family: Ubuntu Mono, Consolas, Courier, monospace;
}

pre, code {
  font-size: .95em;
}
